#!/bin/bash

# if borg passphrase or custom key file location are required, specify them here
# also see https://borgbackup.readthedocs.io/en/stable/usage/general.html#environment-variables
# for other variables
#export BORG_PASSPHRASE=""
#export BORG_KEY_FILE=""

# backup name
# by default this uses the date in YYYY-MM-DD format, assuming a daily backup;
# if backups are to be executed more frequently, then the format must be changed to avoid name conflicts
# in example by adding hours or minutes
BACKUP_NAME="$(date +'%Y-%m-%d')"

# backup details
BACKUP_TARGETS="/docker /etc"
BACKUP_OPTS="-s --show-rc -x --exclude '/etc/shadow*'"

# options used by post_50_Prune.sh
BACKUP_OPTS_RETENTION="--keep-daily 14 --keep-monthly 6"

# options used by post_60_Send_to_NAS_RsyncNFS.sh
BACKUP_NAS_RNFS_HOST=""          # remote host for NFS
BACKUP_NAS_RNFS_NFSPATH=""       # remote path for NFS
BACKUP_NAS_RNFS_TARGET=""        # local system dir where NFS is mounted, i.e. /mnt/backup
BACKUP_NAS_RNFS_DOMOUNT=""       # if set to "y", the script will mount and unmount the NFS share

# options used by post_61_Send_to_NAS_FTP.sh
BACKUP_NAS_FTP_HOST=""           # remote host for FTP
BACKUP_NAS_FTP_USER=""           # remote user for FTP
BACKUP_NAS_FTP_PASS=""           # remote pass for FTP
BACKUP_NAS_FTP_PATH=""           # remote path for FTP
BACKUP_NAS_FTP_LFTPEXTRACMD=""   # extra commands to be used inside lftp session

# options used by post_99_PrometheusPush.sh
BACKUP_PROMPG_HOST=""            # host (or host:port) for target prometheus push gateway
